view,
scroll-view,
swiper,
swiper-item,
cover-view,
cover-image,
icon,
text,
rich-text,
progress,
button,
checkbox,
form,
input,
label,
radio,
slider,
switch,
textarea,
navigator,
audio,
camera,
image,
video {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  flex: none;
}
image {
  display: block;
}
button {
  border-radius: 0;
}
.tl {
  text-align: left;
}
.tr {
  text-align: right;
}
.dis {
  display: none;
}
.blo {
  display: block;
}
.visible {
  visibility: hidden;
}
.back {
  width: 4.5vw;
  height: 4.5vw;
}
.uni-page-head {
  border-bottom: 1px solid #eee;
}
.status_bar {
  height: var(--status-bar-height);
  width: 100%;
  background-color: #f8f8f8;
}
.top_view {
  height: var(--status-bar-height);
  width: 100%;
  position: fixed;
  background-color: #f8f8f8;
  top: 0;
  z-index: 999;
}
.transparent-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.page {
  background-color: #f8f8f8;
  min-height: 100vh;
}
.theme-bg {
  background: #545760;
}
.theme-color {
  color: #545760;
}
